body {
    background-color: #050800;
    width: 50%;
    margin: auto;
    padding: 20px;
}

h1, h2, h3 {
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgba(255, 40, 0, 75% );
}

div {
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px 0 rgb(174, 169, 169);
}

div:hover{
    background: linear-gradient(#FFF, rgb(155, 157, 195), #F32);
}

article {
    background-color: white;
    padding: 15px;
}


.hero {
    background-color: rgb(255, 178, 175);
    
}

img {
    border-radius: 10px;
    border: 5px, double, hsla(89, 50%, 10%, 50%)

}